<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>
      cette page à pour but d'illustrer la lecture de contenu H264 et à l'avenir H265 avec un player html5.<br/>
      n'est compatible qu'avec les navigateurs Chrome et Internet Explorer 11.
    </p>
    <p>Welcome to <%= title %></p>
  </body>
</html>