body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.content {
  height: 100%;
  overflow: x-scroll;
  width: 3000px;
  border: 1px solid #000;
}
